<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>208295428177-me7apomnbu21ecvliroq7le2jl1ft5ia.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.208295428177-me7apomnbu21ecvliroq7le2jl1ft5ia</string>
	<key>API_KEY</key>
	<string>AIzaSyBdViCSJwkxW15-3yrztBWuAHCO73ZvYAg</string>
	<key>GCM_SENDER_ID</key>
	<string>208295428177</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>se.MyDogwalk</string>
	<key>PROJECT_ID</key>
	<string>mydogwalk-ae8c3</string>
	<key>STORAGE_BUCKET</key>
	<string>mydogwalk-ae8c3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:208295428177:ios:403dddba0bd6aed5</string>
	<key>DATABASE_URL</key>
	<string>https://mydogwalk-ae8c3.firebaseio.com</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-7225493999040026~5535044622</string>
</dict>
</plist>
